/* Genius Marketing | Web~Oman */



body {
  min-width: 720px;
}

/* `Containers
----------------------------------------------------------------------------------------------------*/

.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 720px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
  width: 40px;
}

.container_12 .grid_2 {
  width: 100px;
}

.container_12 .grid_3 {
  width: 160px;
}

.container_12 .grid_4 {
  width: 220px;
}

.container_12 .grid_5 {
  width: 280px;
}

.container_12 .grid_6 {
  width: 340px;
}

.container_12 .grid_7 {
  width: 400px;
}

.container_12 .grid_8 {
  width: 460px;
}

.container_12 .grid_9 {
  width: 520px;
}

.container_12 .grid_10 {
  width: 580px;
}

.container_12 .grid_11 {
  width: 640px;
}

.container_12 .grid_12 {
  width: 700px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
  padding-left: 60px;
}

.container_12 .prefix_2 {
  padding-left: 120px;
}

.container_12 .prefix_3 {
  padding-left: 180px;
}

.container_12 .prefix_4 {
  padding-left: 240px;
}

.container_12 .prefix_5 {
  padding-left: 300px;
}

.container_12 .prefix_6 {
  padding-left: 360px;
}

.container_12 .prefix_7 {
  padding-left: 420px;
}

.container_12 .prefix_8 {
  padding-left: 480px;
}

.container_12 .prefix_9 {
  padding-left: 540px;
}

.container_12 .prefix_10 {
  padding-left: 600px;
}

.container_12 .prefix_11 {
  padding-left: 660px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
  padding-right: 60px;
}

.container_12 .suffix_2 {
  padding-right: 120px;
}

.container_12 .suffix_3 {
  padding-right: 180px;
}

.container_12 .suffix_4 {
  padding-right: 240px;
}

.container_12 .suffix_5 {
  padding-right: 300px;
}

.container_12 .suffix_6 {
  padding-right: 360px;
}

.container_12 .suffix_7 {
  padding-right: 420px;
}

.container_12 .suffix_8 {
  padding-right: 480px;
}

.container_12 .suffix_9 {
  padding-right: 540px;
}

.container_12 .suffix_10 {
  padding-right: 600px;
}

.container_12 .suffix_11 {
  padding-right: 660px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
  left: 60px;
}

.container_12 .push_2 {
  left: 120px;
}

.container_12 .push_3 {
  left: 180px;
}

.container_12 .push_4 {
  left: 240px;
}

.container_12 .push_5 {
  left: 300px;
}

.container_12 .push_6 {
  left: 360px;
}

.container_12 .push_7 {
  left: 420px;
}

.container_12 .push_8 {
  left: 480px;
}

.container_12 .push_9 {
  left: 540px;
}

.container_12 .push_10 {
  left: 600px;
}

.container_12 .push_11 {
  left: 660px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
  left: -60px;
}

.container_12 .pull_2 {
  left: -120px;
}

.container_12 .pull_3 {
  left: -180px;
}

.container_12 .pull_4 {
  left: -240px;
}

.container_12 .pull_5 {
  left: -300px;
}

.container_12 .pull_6 {
  left: -360px;
}

.container_12 .pull_7 {
  left: -420px;
}

.container_12 .pull_8 {
  left: -480px;
}

.container_12 .pull_9 {
  left: -540px;
}

.container_12 .pull_10 {
  left: -600px;
}

.container_12 .pull_11 {
  left: -660px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12 {
  zoom: 1;
}

/*CSS  Web~Oman*/






br{
    display: none
}


span{
       display: inherit;
    position: initial;
}


h2{

     font-size: 35px;
    

    margin-top: 80px;
      margin-bottom: 95px;


}

.information{
    margin-bottom: 50px;
}

/*END CSS  Web~Oman*/






.information{

}

/* END CSS  Web~Oman*/

/* HEDER 960  Web~Oman*/


.call_me{
  font-size: 16px;  
}

.sign_up {
    font-size: 16px;
}

.phone {
    font-size: 16px;
}
/*END HEDER 960  Web~Oman*/






#section_02 h2{
    margin-top: 93px;
    margin-bottom: 102px;

}


.box_etapu{
    width: 100%;
    display: inline-block;
    padding: 45px 55px 0px 55px;
    border: 3px solid #d5d0cf;
    
    margin-left: 45px
}
#section_02 {
   
    

    
    height: 1128px;
  
}

#section_03 {

    height: 555px;

}


#section_04 {
    background: url(../images/fon_04.png) no-repeat center top;
    background-size: cover;
    padding-bottom: 50px;
}

#section_04 .container_12 .grid_4 {
    width: auto;
}
.slou {
    margin-bottom: 50px;
}






#section_08{

    height: 536px;
}

.block2{
margin-top: 30px;
    height: 65px;
}


#section_06 .container_12 .grid_10 {
    width: 700px;
}

#section_06 .container_12 .prefix_1 {
      padding-left: 0px;
}

.container_12 .grid_5 {
    width: 47%;
}

#section_03 .num1 {
        font-size: 25px;
}

#section_03 .num2 {
   
    font-size: 20px;
 
}

#section_03 .block:before {

 margin-left:0px; 

}

.container_12 .prefix_1_5 {
    padding-left: 0px;
}


#section_05 .container_12 .grid_3 {
    width: 220px;
}

#section_06 .block {
    margin-top: 45px;
    margin-bottom: 100px;
}

.youtube {

    margin-top: 65px;
    
}


.owl-carousel img {
    width: 100%;
    height: auto;
  
}


.owl-pagination {
    display: inline-block;
}

.owl-buttons{
    display: none;
}


.owl-carousel .prefix_1_5:before {
        margin-left: 0px;
    content: "";
    width: 170px;
    height: 250px;
    position: absolute;
    display: inline-block;
    background: url(../images/kartoska.png) no-repeat top 20px left;
    z-index: -1;
    margin-top: -15px;
    background-size: contain;
}


.owl-carousel img {
    width: 80%;
    height: auto;
    text-align: right;
    float: right;
    margin-top: 40px;
}


#section_07 p {

    font-size: 16px;

}

#section_07{
    margin-bottom: 50px;
}


#section_08 .grid_8{
    width: 100%;
}

.box_post {
    margin: 100px 2% 50px 2%;
    display: inline-block;
    float: left;
    width: 200px;
    text-align: center;
}


#section_08 .grid_4{
    width: 100%;
}


.for-poster{
        margin-top: 0px;
}

#section_08 input ,#section_08 .field{
  
    width: 100%;
}


#section_08 .form_icon i {

    line-height: 44px!important;
}

#section_08 {
    height: auto;
    padding-bottom: 50px;
}


#section_01 {
    background: url(../images/fon_01.png) no-repeat top center;
    height: auto;
    z-index: 0;
    position: relative;
    padding-bottom: 50px;
    background-size: cover;
}


.with{
   width: 100% !important;
}


#section_01 .block a{
    float: none;
    margin: 15px auto;
}

#section_01 .block{
    width: 100%;
    margin: 10px auto;
    display: inline-block;
    position: relative;
    text-align: center;
}

#section_01 .block:before {
    content: "";
    width: 90px;
    height: 25px;
    position: absolute;
    display: inline-block;
    background: url(../images/awers-left.png) no-repeat;
    z-index: 1;
    margin-left: -300px;
    margin-top: 30px;
}


.social a i {
    width: 25px;
    height: 25px;
    border: 3px solid #fff;
    text-align: center;
    line-height: 25px;
    color: #fff;
}

.social{
    margin-top: 10px;
}